.logo{
    display:block !important;
    margin:auto !important;
    padding-top: 20%;
}
@media (max-width: 800px) {
	.logo{
		display: none !important;
	}
	.layer-1-3{
		display: none !important;	
	}
}

/** noticias  **/
.media-heading{
	font-size: 1rem;
}

/** nosotros **/
#nosotros{
    padding-bottom: 0px;
}

/** empresas **/
#empresas{
    padding-top: 0px;
    padding-bottom: 0px;
}
#empresas h2{
	margin-top: 0px;
    margin-bottom: 10px;
}

/** indicadores **/
#indicadores{
    padding-top: 0px;
}
#indicadores h2{
	color: #199EB8;
}

/** productos **/
#productos{
    padding-top: 30px;
}
#productos h2{
	color: #199EB8;
}
#productos .feature-col > div{
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    color: #199eb8;
}
#productos .feature-col > div:hover{
    background-color: #199eb8;
    color: #fff;
    border-style: dashed; 
    border-width: 1px;
}
#productos .feature-col > div:focus{
    background-color: #199eb8;
    color: #fff;
    border-style: dashed; 
    border-width: 1px;
}
#productos .detalle{
    box-shadow: 13px 13px 9px #999;
}
#productos table{
    margin-top: 40px;
    margin-bottom: 40px;
}
/** imagen pdf */
.iconpdf{
	height: 15%;
}
#tabla_archivos > tbody > tr > td a{
	color: #000000 !important;
}
#tabla_archivos > tbody > tr td{
	vertical-align: middle;
}
/** imagen producto principal **/
.portfolio #espacio_producto{
    width: 100%;
    height: auto;
    overflow: hidden;
    left: 0px;
    top: 0px;
}
.portfolio .imagen_producto {
    width: 100%;
    height: auto;
    position: relative;
    transition: all 10ms ease-in-out;
}
/****/
/*boton de paginador*/
/****/
#menu ul{
    margin-left: 0px;
    padding: 0px;
} 
#menu ul > li{
    list-style: none;
    display: inline-block;
    margin-right:7px;
}
#menu ul > li > a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    display: block;
    background: #1e5799; /* Old browsers */
    border-radius: 20px;
}
#menu .boton_pag{
    background: #199EB8;
    border: 0;
    padding: 7px 15px;
    color: #fff;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 25px;
    font-weight: bold;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}
/**********/
.carousel-control-prev-icon {
  background-image: url("../img/espalda.png") !important;
}
.carousel-control-next-icon {
  background-image: url("../img/flecha-derecha.png") !important;
}